body {
    background: rgb(139,96,230);
    background: linear-gradient(180deg, rgb(123, 95, 185) 0%, rgb(255, 120, 43) 50%, rgb(123, 95, 185) 100%);
    min-width: 960px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_12,
.container_16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.grid_3 {
    display: inline;
    /* float: left; */
    margin-left: 10px;
    margin-right:10px;
}

.push_3, .pull_3 {
    position: relative;
}

.container_12, .grid_3 {
    width: 220px;
}

.alpha {
    margin-left: 0;
}

.container_12 .prefix_3 {
    padding-left: 240px;
}

.container_12 .suffix_3 {
    padding-right: 240px;
}

.container_12 .push_3 {
    left: 240px;
}

.container_12 .pull_3 {
    left: -240px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clearfix:after,
.container_12:after {
    clear: both;
}

.clearfix,
.container_12 {
    zoom: 1;
}

.navi {
    width: auto;
    height: auto;
}
.cogs {
    width: auto;
    height: auto;
}
.hosting {
    width: auto;
    height: auto;
}
.mini {
    width: auto;
    height: auto;
}
.user {
    width: auto;
    height: auto;
}
.pro {
    width: auto;
    height: auto;
}
.maxi {
    width: auto;
    height: auto;
}
.listserv {
    width: auto;
    height: auto;
}
.host {
    width: auto;
    height: auto;
}
.server {
    width: auto;
    height: auto;
}
.email {
    width: auto;
    height: auto;
}
.more {
    width: auto;
    height: auto;
}
.logos {
    width: auto;
    height: auto;
}
.social {
    width: auto;
    height: auto;
}